<!-- templates/layout/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="root" th:fragment="footer">
  <link rel="stylesheet" th:href="@{/css/footerstyle.css}" />
  <div class="footer-container">
    <div class="footer-top">
      <h1 class="title1_box">
                    <span class="title1">
                        <span class="title1_span0">Care</span><span class="title1_span1">You</span>
                    </span>
      </h1>
      <div class="flex_col">
        <h1 class="title2">Fundraise for</h1>
        <h1 class="title3">Social Activities</h1>
        <h1 class="title31">Projects</h1>
      </div>
      <div class="flex_col1">
        <h1 class="title21">Learn more</h1>
        <h1 class="title32">About Us</h1>
        <h1 class="title33">Terms and Conditions</h1>
        <h1 class="title34">Help Centre</h1>
      </div>
    </div>
    <h1 class="footer-bottom">© 2024 CareYou. All Rights Reserved</h1>
  </div>
</div>
</body>
</html>