body {
    background: rgb(209, 245, 253);
    background-image: linear-gradient(180deg, rgba(209, 245, 253, 1) 0%, rgba(246, 248, 250, 1) 100%);
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 109.375vw;
}

.main {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
}

.dashboard-title {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    font: 700 4vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    margin: 4px 0px 0px 0px;
}

.container-box {
    margin-top: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    row-gap: 2.813vw;
    align-items: center;
}

.flex-div {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 38.854vw;
    width: 40.677vw;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 237, 201, 1) 60%);
    border-radius: 4vw;
}

.left {
    
}

.right {
    
}

.title-container{
    position: relative;
    font: 700 4.167vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    margin: 3.385vw 0 0 0;
    color: black;
}
.title-container.small{
    font: 700 2.083vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    color: black;
    margin: 0;
}

.info-container {
    font: 700 10.417vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4AB06A;
}
