
.root {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 19.531vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 248, 250);
    outline: 0.052vw solid rgba(0, 0, 0, 0.498);
    outline-offset: -0.026vw;
}

.footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.226vw 0px;
    margin: 2.133vw auto 1.509vw;
    width: 81.54%;
}

.footer-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 0.52vw;
    height: 10.354vw;
}

.title1_box {
    position: relative;
    margin: 0px 0px 6.348vw;
    min-width: 0px;
    display: flex;
}

.title1 {
    font: 500 3.33vw/1.23 "HelveticaCompressed", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.666vw;
}

.title1_span0 {
    color: rgb(1, 169, 93);
}

.title1_span1 {
}

.flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 2.706vw;
    width: fit-content;
    min-width: 0px;
}

.title2 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 700 1.821vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
    margin: 0;
}

.title3 {
    position: relative;
    margin: 1.249vw 0px 0px 0px;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
}

.title31 {
    position: relative;
    margin: 0.624vw 0px 0px;
    width: fit-content;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
}

.flex_col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 0px;
}

.title21 {
    position: relative;
    display: flex;
    width: fit-content;
    font: 700 1.821vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
    margin: 0;
}

.title32 {
    position: relative;
    display: flex;
    margin: 1.249vw 0px 0px;
    width: fit-content;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
}

.title33 {
    position: relative;
    display: flex;
    margin: 0.624vw 0px 0px 0px;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
}

.title34 {
    position: relative;
    display: flex;
    margin: 0.624vw 0px 0px;
    width: fit-content;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(1, 45, 25);
}

.footer-bottom {
    position: relative;
    display: flex;
    margin: 0px 0px 0px 0.052vw;
    font: 300 1.717vw/1.2 "Helvetica Neue", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
}
