body {
    font-size: 100%;
}

.reset-page-left-flexbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.948vw;
    bottom: 35vw;
    left: 4.635vw;
    width: 25.781vw;
    min-width: 0px;
}

.reset-pw-text {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 2.604vw 0px 0px;
    font: 400 2.5vw/1.14 "Helvetica", Helvetica, Arial, serif;
    color: rgb(46, 46, 46);
    text-align:center;
}

.setpassword-btn {
    position: relative;
    display: flex;
    justify-content: center;
    width: 13.958vw;
    height: 3.177vw;
    font: 400 1.458vw / 1.14 "Helvetica", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(1, 169, 93);
    border-radius: 0.625vw 0.625vw 0.625vw 0.625vw;
    padding: 0.729vw 1.146vw 0.729vw 1.146vw;
    border: none;
    transition-duration: 0.3s;
}

    .setpassword-btn:hover {
        background-color: #012D19;
    }

.bottom-container{
    bottom:2.702vw;
}